::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ /
color: black;
opacity: 1; / Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: black;
}

a:link {
color: #000000; /* black */
}

/* visited link */
a:visited {
color: #444444; /* dark gray */
}

/* mouse over link */
a:hover {
color: #888888; /* medium gray */
}

/* selected link */
a:active {
color: #000000; /* black */
}

html {
  height: 100vh;
  overflow: hidden;
  width: 100%;
font-size: 17px;
background-color: #f2f2f2;
}

.checkbox_container {
display: block;
position: relative;
padding-left: 35px;
cursor: pointer;
font-size: 1.5em !important;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color: #333;
}

.checkbox_container input {
position: absolute;
opacity: 0;
}

.checkmark {
position: absolute;
display: inline-block;
top: 0;
left: 0;
height: 20px;
width: 20px;
margin: 5px;
background-color: #f2f2f2;
border: solid #888;
border-width: 1px 1px 1px 1px;
}

.checkbox_container:hover input~.checkmark {
background-color: #d9d9d9;
}

.checkbox_container input:checked~.checkmark {
background-color: #4d4dff;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.checkbox_container input:checked~.checkmark:after {
display: block;
}

.checkbox_container .checkmark:after {
left: 7px;
top: 4px;
width: 3px;
height: 7.5px;
border: solid black;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.file_button {
color: #000;
display: inline-block;
border: none;
background: none;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
text-align: center;
cursor: pointer;
font-size: 0.9rem;
background-color: #f2f2f2;
padding: 5px;
margin: 5px 2.5px 5px 5px;
border-radius: 15px;
}

.spinner {
opacity: .5;
margin: auto;
padding: 7.5px;
text-align: center;
}

.spinner_seed {
opacity: .7;
margin: auto;
text-align: center;
}

.spinner>div {
  border: 16px solid rgba(100, 100, 100, 0.3);
  border-top: 16px solid rgba(255, 100, 100, 0.9);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.spinner_seed>div {
  border: 2px solid rgba(100, 100, 100, 0.3);
  border-top: 2px solid rgba(255, 100, 100, 0.9);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.b64_red {
  background-color: red;
}

.b64_green {
  background-color: green;
}

body {
height: 100%;
width: 100%;
position: fixed;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
  margin: 0;
  font-family: Roboto;
  background-color: #F5F5F5;
  font-size-adjust: none;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  color: #222;
}

@-moz-document url-prefix() {
  .delete_button {
    margin: 0;
  }
}

.channel_link {
  display: block;
  color: #999!important;
  text-decoration: none;
}

.comment_box_input {
  font-size: 0.9rem;
  width: calc(100% - 115px);
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
  margin-left: 75px;
  outline: none;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #222;
  color: #222;
  background: transparent;
  border-style: solid;
  border-radius: 0;
  text-shadow: undefined 0 0 5px px rgba(66,66,66,.75);
}

.comment_single {
  position: relative;
  padding: 5px 5px 20px 75px;
}

.comment_user {
  font-size: 0.9rem;
  font-weight: 700;
  color: #444;
}

.comment_text {
  padding-top: 1em;
  font-size: 0.9rem;
  color: #444;
  max-height: 100px;
  overflow: auto;
}

.comment_date {
  font-size: 0.9rem;
  color: #888;
}

.comment_delete {
  font-size: 0.9rem;
  color: #000;
}

.edit_link {
  min-width: 150px!important;
  margin-left: 165px;
  padding: 5px 0 5px 0px!important;
  position: absolute!important;
  width: calc(100% - 175px)!important;
  display: inline-block!important;
}

.edit_link_alt {
  margin-left: 30px;
  padding: 5px 0 5px 0px!important;
  position: absolute!important;
  width: calc(100% - 75px)!important;
  display: inline-block!important;
}

.editor_row {
  display: flex;
}

.upload_editor_row {
  justify-content: center;
  display: flex;
}

.editor_input_label {
  width: 17.5%;
  max-width: 150px;
  min-width: 80px;
  display: block;
  padding: 5px;
  margin: 5px 7.5px 5px 15px;
  height: 25px;
}

.editor_input, .editor_brief_input {
  padding: 5px;
  margin: 5px 15px 5px 15px;
  height: 100px;
  width: 60%;
  clear: both;
  max-width: 300;
}

.editor_container {
width: 100%;
clear: both;
}

.editor_container input {
font-family: Roboto;
padding: 5px;
margin: 5px 15px 5px 15px;
height: 25px;
min-width: 200px;
max-width: 300px;
width: 60%;
clear: both;
border: solid;
border-width: 1px;
border-color: #e1e1e1; /* changed from #bababa /
outline: none;
color: #000; / changed from #424242 */
font-size: 1em !important;
}

.footer {
height: auto;
padding: 0 30px 0 30px;
background-color: white; /* changed from transparent to white */
box-shadow: 2px 2px 4px 2px rgba(0,0,0,.10),0 0 0 1px rgba(0,0,0,.05);
}

.item_link {
margin-left: 40px;
display: block;
width: 100%;
color: #111!important;
text-decoration: none;
}

.list_item {
padding: 12.5px 0 12.5px 0;
font-size: 1em !important;
}

.li_head {
color: #777777;
font-weight: 700;
}

.logo {
display: block;
padding: 17.5px 17.5px 17.5px 0;
float: left;
}

.main {
position: absolute;
left: 0;
top: 0;
width: calc(100% - 236.25px);
margin-top: 70px;
margin-left: 236.25px;
background-color: #f5f5f5; /* changed from linear-gradient to a solid color */
}

.main_nomenu {
background-color: #fff; /* changed from #fcfcfc */
position: absolute;
left: 0;
top: 0;
width: 100%;
margin-top: 70px;
margin-left: 0;
}

.menu_left {
margin-top: 71px;
width: 236.25px;
height: calc(100% - 71px);
background-color: #f5f5f5; /* changed from #242424 */
overflow-y: auto;
overflow-x: hidden;
}

.menu_left_items {
margin: 0;
list-style-type: none;
padding: 17.5px 26.25px 17.5px 26.25px;
}

.more_videos {
display: block;
width: 100%;
height: 100%;
text-align: center;
padding: 15px 0 15px 0;
color: #444; /* changed from #c7c7c7 */
text-decoration: none;
font-size: 1.1em !important;
}

.nav {
position: fixed;
z-index: 4;
height: 100%;
overflow-x: hidden;
box-shadow: 2px 2px 4px 2px rgba(0,0,0,.20),0 0 0 2px rgba(0,0,0,.10);
}

.menu_top {
width: 100%;
height: 70px;
position: fixed;
z-index: 5;
background-color: rgba(255, 255, 255, .9); /* changed to white with some transparency /
color: #333!important; / changed from #fff */
box-shadow: 2px 2px 4px 2px rgba(0,0,0,.20),0 0 0 2px rgba(0,0,0,.10);
}

.player_info {
width: 768px;
max-width: 100%;
padding: 0 0 15px 0;
position: relative;
}

.player_loading {
position: absolute;
  border: 16px solid rgba(0, 0, 0, 0.5); /* Light grey */
  border-top: 16px solid rgba(255, 100, 100, 0.8); /* Red */
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 120px;
height: 120px;
margin: auto;
border-radius: 50%;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

.related_channel {
display: block;
font-size: 0.9rem;
text-decoration: none;
color: #444!important;
}

.related_column {
display: block;
padding: 2.5px 7.5px 7.5px 15px;
width: calc(100% - 768px);
background-color: #f8f8f8;
}

.related_link {
font-size: 1em !important;
text-decoration: none;
color: #000!important;
}

.related_row {
display: flex;
flex-direction: row;
padding: 2.5px 15px 2.5px 15px;
min-height: 100px;
}

.related_header {
display: flex;
flex-direction: row;
padding: 2.5px 15px 2.5px 15px;
min-height: 25px;
background-color: #eee;
text-align: center;
justify-content: center;
color: #444;
}

.related_thumb {
display: block;
width: 160px;
height: 90px;
background-repeat: no-repeat;
background-position: center;
background-size: 160px 90px;
background-size: 240px 135px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
}

.related_info {
width: calc(100% - 160px);
word-break: break-all;
white-space: nowrap!important;
text-overflow: ellipsis!important;
overflow: hidden!important;
padding: 5px;
color: #444;
}

.search {
position: fixed;
width: 600px;
margin-left: 218.75px;
height: 70px;
top: 0;
left: 0;
z-index: 6;
}

.search_nomove {
position: fixed;
height: 70px;
top: 0;
left: 0;
z-index: 6;
width: 100%;
margin-left: -1px;
margin-right: 0;
}

.search_button,.search_toggle {
position: relative;
float: left;
margin-left: 1px;
width: 50px;
height: 100%;
border: none;
background: none;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);*/
  text-align: center;
  color: #e0e0e0;
  cursor: pointer;
  font-size: 1.4rem;
}

.search_toggle {
display: none;
}

.search_bar {
float: left;
width: calc(100% - 67.5px);
border: none;
padding: 0 7.5px 0 7.5px;
height: 100%;
background: none;
outline: none;
font-size: 1.1rem;
color: #333!important;
}

.search_swap {
display: none;
float: right;
padding: 25px 7.5px 25px 7.5px;
}

.search_wrap {
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
max-width: 600px;
width: 100%;
height: 35px;
padding: 17.5px;
z-index: 10;
}

.seedbox_bytes {
min-width: 0px!important;
width: 140px!important;
line-height: 1.2em;
height: 1.2em;
vertical-align: middle;
color: #888!important;
font-size: 0.9rem;
margin-left: 30px;
padding: 5px 0 5px 0px!important;
position: absolute!important;
display: inline-block!important;
overflow: hidden;
}

.standard_button {
color: black;
border: none;
background: none;
text-align: center;
cursor: pointer;
font-size: 0.9rem;
font-weight: 700;
font-family: Roboto;
background-color: #f2f2f2;
padding: 7.5px;
margin: 5px 15px 5px 15px;
border-radius: 15px;
}

.thumbnail_preview {
padding: 5px;
margin: 5px 15px 5px 15px;
display: block;
width: 240px;
height: 135px;
background-repeat: no-repeat;
background-position: center;
background-size: 240px 135px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
cursor: pointer;
}

.uploader,.editor {
margin-top: 7.5px;
padding: 7.5px;
max-width: 768px;
min-width: 250px;
width: 75%;
margin-left: auto;
margin-right: auto;
color: #333;
}

.upload_container {
text-align: center;
}

.uploader_title {
font-weight: 700;
text-align: center;
padding: 7.5px;
font-size: 1.4rem;
color: #777777;
}

#uploader_input {
display: none;
}

.upload_link {
float: right;
margin-right: 5px;
padding: 22.5px 7.5px 22.5px 7.5px;
}

.usr_channel_link {
float: right;
margin-right: 125px;
padding: 22.5px 7.5px 22.5px 7.5px;
}

.video_actual, .vjs-tech {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
max-height: 432px;
margin: auto;
}

.vjs-big-play-button {
z-index: 999;
}

.video_box {
position: relative;
width: 768px;
height: 432px;
background-color: #000000;
}

.video_brief {
padding: 7.5px 7.5px 2.5px 7.5px;
color: #5f5f5f;
font-size: 0.9rem;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.video_brief_seed {
padding: 7.5px 7.5px 2.5px 25px;
color: #8c8c8c;
font-size: 0.9rem;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.video_link {
color: #444!important;
text-decoration: none;
font-size: 1rem;
padding: 7.5px;
}

.video_info {
float: left;
max-width: 600px;
word-break: break-all;
white-space: nowrap!important;
text-overflow: ellipsis!important;
overflow: hidden!important;
padding: 0;
}

.video_list,.videobox,.seedbox {
width: 100%;
}

.video_column {
max-width: 768px;
width: 100%;
}

.video_player {
margin: auto;
max-width: calc(1280px - 2.5%);
padding: 7.5px 0 7.5px 0;
display: flex;
flex-direction: row;
}

.video_player_title {
font-size: 1rem;
padding: 15px 5px 5px 15px;
display: block;
color: #444;
}

.video_player_stats {
font-size: 1rem;
color: #5f5f5f;
padding: 5px 5px 15px 15px;
display: block;
}

.video_player_username {
font-size: 0.9rem;
font-weight: 700;
color: #444;
padding: 15px 50px 5px 75px;
display: block;
}

.video_player_userdate {
font-size: 0.9rem;
color: #8c8c8c;
padding: 0 50px 0 75px;
display: block;
}

.video_player_date {
color: #888;
font-weight: 400;
}

.video_player_brief {
font-size: 0.9rem;
color: #5f5f5f;
padding: 15px 50px 30px 75px;
display: inline-block;
max-height: 100px;
width: calc(100% - 115px);
overflow-y: auto;
}

.video_row {
padding: 7.5px 30px 7.5px 30px;
min-height: 160px;
}

.videobox_row,.seedbox_row {
  height: 30px;
  padding: 7.5px 5px 7.5px 5px;
}

.video_seed_button {
  color: #c4c4c4;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.02);
}

.video_thumbnail {
  display: block;
  float: left;
  width: 275px;
  height: 155px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 275px 155px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
}

@media all and (max-width:1366px) {
  .video_column {
    width: 640px;
  }

  .video_box {
    width: 640px;
    height: 360px;
  }

  .video_actual {
    max-height: 360px;
  }

  .video_player {
    max-width: calc(1152px - 6.25%);
  }

  .player_info {
    width: 640px;
  }

  .related_column {
    width: calc(100% - 640px);
  }
}

@media all and (max-width:1280px) {
  .search {
    width: 45%;
    margin-left: 32.5%;
    margin-right: 22.5%;
  }

  .search_wrap {
    padding: 17.5px 0 17.5px 0;
  }
}

@media all and (max-width:1024px) {
  .related_column {
    margin-top: 25px;
    width: 100%;
    overflow-x: hidden;
  }

  .video_column {
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .video_player {
    overflow-x: hidden;
    max-width: 100%;
    padding: 7.5px;
    flex-direction: column;
  }

  .video_info {
    max-width: 400px;
  }

  .player_info {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0;
  }

  .video_box {
    width: 768px;
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 100%;
    max-height: 360px;
  }

  .video_actual {
    height: 100%;
    width: 100%;
    max-height: 360px;
  }
}

@media all and (max-width:768px) {
  .editor_row {
    flex-direction: column;
  }

  .menu_left {
    margin-top: 70px;
  }

  .upload_link {
    margin-right: 0px;
  }

  .usr_channel_link {
    margin-right: 100px;
  }

  .video_box {
    display: block;
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 100%;
    max-height: 288px;
    min-width: 512px;
  }

  .video_actual {
    width: 100%;
  }

  .video_player {
    padding: 0;
  }

  .player_info {
    padding: 7.5px;
    max-width: 100%;
    padding: 0;
  }

  /*.li_home,.li_latest,.li_videobox,.li_seedbox,.li_source,. li_subbed{
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }*/

  /*.main_upload {
    opacity: 0.9;
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .main_menu {
    opacity: 0.9;
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .channel_icon {
    opacity: 0.9;
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }*/

  /*.menu_top {
    position: absolute!important;
  }*/

  .video_row {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 320px;
    padding: 7.5px 0 7.5px 0;
  }

  .related_row {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 320px;
    padding: 7.5px 0 7.5px 0;
  }

  .video_link {
    display: block;
    width: 100%;
    min-width: 200px;
    word-break: break-all;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
  }

  .video_thumbnail {
    width: 320px;
    height: 180px;
    background-size: 320px 180px;    
    float: none;
    margin: auto;
  }

  .related_column {
    padding: 0px 0px 0px 0px;
  }

  .related_thumb {
    width: 320px;
    height: 180px;
    background-size: 320px 180px;
    float: none;
    margin: auto;
  }

  .related_info {
    width: 320px;
  }


  .video_info {
    float: none;
  }

  .search {
    position: absolute;
  }
}

@media all and (max-width:640px) {
  .search {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .search_bar {
    position: absolute;
    width: calc(100% - 65px);
    background-color: rgba(255,255,255,1);
  }

  .search_swap {
    display: block!important;
  }

  .search_button {
    display: none;
  }

  .search_toggle {
    display: block;
    background-color: rgba(255,255,255,1);
  }

/*  .search_toggle_icon {
      -webkit-filter: invert(100%);
      filter: invert(100%);
  }*/

  .search_wrap {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .video_box {
    width: 100%;
    max-width: 100%;
    min-width: 384px;
    min-height: 216px;
    max-height: 288px;
  }

  .video_actual {
    height: 100%;
    width: 100%;
  }
}

@media all and (max-width:432px) {
  .video_box {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    min-height: 180px;
    max-height: 216px;
  }

  .video_actual {
    height: 100%;
    width: 100%;
  }
}

/*May 2018*/
.peditor_divs {
  padding: 10px;
}
